<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7c57f58e-9f60-4f34-9012-ff5b243d096e" Publisher="CN=srkuruma" Version="1.0.0.0" />
  <Properties>
    <DisplayName>IdeoneWindows8</DisplayName>
    <PublisherDisplayName>srkuruma</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="IdeoneWindows8.App">
      <VisualElements DisplayName="IdeoneWindows8" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="IdeoneWindows8" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>